:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
fieldset {
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  max-width: 100vw;
}

#hero {
  background-image: url('../assets/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-block: 11.2rem 9.2rem;
}

#hero img {
  display: block;
  margin: 0 auto;
  width: 59.6rem;
  height: 39.4rem;
}

.most-selled {
  background-image: url('../assets/bg-items.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 14.4rem;
}

.most-selled h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 5rem;
}

.most-selled .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.most-selled .cards .card {
  padding: 3.2rem;
  position: relative;
  min-height: 36rem;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  background-color: #FEFBF4;
  border: 1px solid #FFF5DE;
  border-radius: 1.6rem;
}

.most-selled .cards .card img {
  height: 12rem;
  width: 12rem;
}

.most-selled .cards .card h3 {
  font-size: 2rem;
  font-weight: 600;
}

.most-selled .cards .card strong {
  font-size: 3.2rem;
  font-weight: 600;
}

.btn-primary {
  padding: 1.2rem 4rem;
  max-width: fit-content;
  background: #FFBD48;
  border-radius: 2.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: filter 0.3s;
}

.btn-primary:hover {
  filter: opacity(0.9);
}

button.favorite {
  position: absolute;
  top: 5.6rem;
  right: 1.6rem;
  max-height: 3.2rem;
  max-width: 3.2rem;
  padding: 8px;
  background-color: #FFD4C9;
  border: 2px solid #FF3536;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
}

button.favorite img {
  max-height: 2.4rem;
  max-width: 2.4rem;
}

footer #about {
  padding: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer #about img {
  width: 48.8rem;
  height: 50rem;
  border-radius: 0.6rem;
}

footer #about .content {
  max-width: 46rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

footer #about .content h2,
footer #about .content span {
  font-size: 3.6rem;
  font-weight: 600;
  color: #2E2E2E;
}

footer #about .content span:nth-child(1) {
  color: #FFBD48;
}

footer #about .content span:nth-child(2) {
  color: #FF3536;
}

footer #about .content span:nth-child(3) {
  color: #60BB28;
}

footer #about .content p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  #hero {
    padding-block: 10.1rem;
  }

  #hero img {
    width: 30rem;
    height: 19.9rem;
  }

  .most-selled h2 {
    font-size: 3.6rem;
  }

  .most-selled .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  footer #about {
    flex-direction: column;
  }

  footer #about img {
    min-height: 40rem;
    min-width: 100%;
    margin-bottom: 6.4rem;
  }
}

@media (max-width: 375px) {
  #hero {
    padding-block: 8rem;
  }

  .most-selled h2 {
    font-size: 2.4rem;
  }

  .most-selled .cards {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  #hero img {
    width: 21.6rem;
    height: 14.3rem;
  }
}